/* [for=markets]{
    position: absolute;
    left: 5px;
    display: block;
    width: 100px;
    height: 40px;
    background-color: #2b2b2b;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    text-transform: capitalize;
    font-family: var(--font-family);
    font-size: 12px;
    color: whitesmoke;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}

.markets{
    position: absolute;
    inset: 0 0;
    background-color: #a04444;
    .banner{
        width: 35%;
        height: 50vh;
        background-color: #9f1212;
        position: absolute;
        left: calc(50% - 35% / 2);
        top: calc(50% - 50vh / 2);
        
    }
} */
